In [3]:
data = 50
score = 100

print( data < score )

True

In [4]:
data = 50
score = 100

print( data <= score )

True

In [5]:
data = 50
score = 100

print( data <= score )

True

In [8]:
data = 50
score = 100

print( data <= score )

True

In [9]:
data = 50
scort = 100

print( data > score )

False

In [10]:
data = 50
scort = 100

print( data >= score )

False

In [6]:
data = 50
scort = 100

print( data == score ) # 같으면 True

False

In [7]:
data = 50
scort = 100

print( data != score ) # 다르면 True

True

In [12]:
a=5
print('a')
print(a)

a
5

In [14]:
b=10
c=20
print(b+c)
d=b+c
print(d)

30
30

In [20]:
a=input('이름을 입력하세요')
print(a+'입니다')

이름을 입력하세요 윤재근

윤재근입니다

In [26]:
a=5
b=3.0
c='윤재근'
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [31]:
a=input('숫자를 입력하세요')
b=input('숫자를 입력하세요')
print(a+b)
print(type(a))
a1=int(a)
print(type(a1))
b1=int(b)
print(a1+b1)

숫자를 입력하세요 1
숫자를 입력하세요 2

12
<class 'str'>
<class 'int'>
3

In [16]:
a='윤재근'
print(a+'입니다')

윤재근입니다

In [37]:
a=20

if a>=20 :
    print('성인입니다')
    print('당신은 %d 살 입니다'%a)

성인입니다
당신은 20 살 입니다

In [52]:
a=input('나이를 입력하세요')
a1=int(a)

if a1>=40:
    print('성인입니다')
    print('당신은 중년 입니다')

elif a1 >= 20:
    print('성인입니다')
    
else :
    print('성인이 아닙니다')

나이를 입력하세요 22

성인입니다

In [57]:
a=4

if a >= 60:
    print('성인입니다')
    print('당신은 노년입니다')

elif a >= 40:
    print('중년입니다')
    
elif a >= 20:
    print('청년입니다')
    
else:
    print('성인이 아닙니다')

중년입니다

In [61]:
a=input('수를 입력하세요')
a1=int(a)

if a1%2 == 1:
    print('홀수')

else :
    print('짝수')

수를 입력하세요 2

짝수

In [64]:
num = 10

if num > 0 :
    if num % 2 == 0 :
        print('양수')
    else:
        print('')
else:
        print('음수')

양수

In [90]:
a = 1

while a <= 10 :
    print('Hello %d' % a)
    a = a+1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [103]:
a=1

while a <= 100 :
    if a % 5 == 0 :
        print(a)
    a=a+1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [106]:
print(range(5))

range(0, 5)

In [107]:
print(range(10))

range(0, 10)

In [111]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [113]:
for i in range(100):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
fruits = ['사과','배','딸기','포도','수박']
print(fruits)
type(fruits)
len(fruits)
type(len(fruits))

for f in fruits:
    print('나는 '+f+'를 좋아합니다')

fruits[1] = "오렌지"

['사과', '배', '딸기', '포도', '수박']
나는 사과를 좋아합니다
나는 배를 좋아합니다
나는 딸기를 좋아합니다
나는 포도를 좋아합니다
나는 수박를 좋아합니다

In [7]:
fruits = ['사과','배','딸기','포도','수박']

fruits[1] = "오렌지"
print(fruits)

['사과', '오렌지', '딸기', '포도', '수박']

In [34]:
number = [100,110,120,130,140,150]
print(number)
print(type(number))

print(len(number))

for f in number :
    print(f)

sum=0
for f in number:
    sum=sum+f
    print(sum)

[100, 110, 120, 130, 140, 150]
<class 'list'>
6
100
110
120
130
140
150
100
210
330
460
600
750

In [17]:
num = [1,2,3,4,5,6,7,8,9,10]

sum=0
cnt=0

for n in num:
    if n % 2 == 0 :
        cnt=cnt+1
print(cnt)

5